.outerContainer {
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 25%;
  z-index: 2;
}

.textContainer {
  position: absolute;
  bottom: 0;
  left: 10px;

  margin-right: 20px;
  color: black;
  height: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 8px;
  height: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    height: 100%;
  }
}

/* @media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
} */
