html,
body {
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
}

#root {
	height: 100vh;
}

* {
	box-sizing: border-box;
}

.joinOuterContainer {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100vh;
	align-items: center;
	background: linear-gradient(
		to bottom right,
		rgb(29, 120, 247),
		rgb(123, 216, 76)
	);
}

.joinInnerContainer {
	width: 60%;
	color: white;
}

.rules {
	font-size: 16px;
	line-height: 18px;
}

.reveal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px auto;
	max-width: 500px;
}

.joinInput {
	border-radius: 0;
	border: none;
	padding: 15px 20px;
	width: 50%;
}

.heading {
	color: white;

	font-size: 3em;
	font-family: "Kalam", cursive;
	padding-bottom: 10px;
	border-bottom: 2px solid white;
}

.button {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #2979ff;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	width: 175px;
	cursor: pointer;
}

.mt-20 {
	margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
	.joinOuterContainer {
		height: 100%;
	}

	.joinInnerContainer {
		width: 90%;
	}
}

button:focus {
	outline: 0;
}

#earth {
	width: 300px;
	height: 300px;
	margin: 30px auto 30px auto;
	box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
	background: url(https://1.bp.blogspot.com/-UUXaK5GCj-k/UcsKJRMgkVI/AAAAAAAACfM/sePP_H08JTQ/s1600/1.jpg);
	border-radius: 100%;
	background-size: cover;
	animation: spin 15s infinite linear;
}

input[type="radio"][disabled] + label {
	opacity: 0.65;
}

@keyframes spin {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 380px;
	}
}
